@font-face {
    font-family: "Museo Slab";
    src: url("../public/fonts/MuseumSlab/MuseoSlab-300.eot");
    src: url("../public/fonts/MuseumSlab/MuseoSlab-300.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/MuseumSlab/MuseoSlab-300.woff2") format("woff2"),
        url("../public/fonts/MuseumSlab/MuseoSlab-300.woff") format("woff"),
        url("../public/fonts/MuseumSlab/MuseoSlab-300.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../public/fonts/Raleway/Raleway-Regular.eot");
    src: url("../public/fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
        url("../public/fonts/Raleway/Raleway-Regular.woff") format("woff"),
        url("../public/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto/RobotoSlab-Regular.eot");
    src: url("../public/fonts/Roboto/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"),
        url("../public/fonts/Roboto/RobotoSlab-Regular.woff2") format("woff2"),
        url("../public/fonts/Roboto/RobotoSlab-Regular.woff") format("woff"),
        url("../public/fonts/Roboto/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
