@import "~normalize.css/normalize.css";
@import "fonts.scss";
@import "utils/vars.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}
